body {
    margin: 0;
    padding: 0;
}

#artist_info_main {
    margin: 0;
    padding: 0;
    width: 100%;
    /*font-family: sans-serif;*/
}

#artist_info_header {
    width: 100%;
    height: 200px;
}

#artist_featured_works_section {
    width: 1300px;
}

#artist_info_category {
    margin-left: 250px;
    margin-right: 100px;
    width: 300px;
    font-size: 26px;
    font-family: barlow-extralight, barlow, sans-serif;
    float: left;
}

#artist_featured_works_category {
    margin-top: 70px;
}

.category_btn {
    outline: 0;
    border: none;
    background: none;
    margin-bottom: 10px;
    width: fit-content;
    font-size: 21px;
    font-family: sans-serif;
    cursor: pointer;
}

#artist_featured_works {
    position: relative;
    overflow: hidden;
    width: 580px;
    height: 500px;
}

#artist_featured_works ul {
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 0;
    padding: 0;
    list-style: none;
}

.prev, .next {
    position: relative;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 0;
    border-bottom: 0;
    left: 0;
    top: 0;
    outline: 0;
    border-radius: 1px;
    background: none;
    width: 25px;
    height: 25px;
}

#artist_featured_works_prev {
    transform: rotate(225deg); /* 각도 */
    top: 250px;
    left: 20px;
}

#artist_featured_works_next {
    transform: rotate(45deg); /* 각도 */
    top: 215px;
    left: 535px;
}

#inquiry {
    margin-top: 100px;
    text-align: center;
}

#inquiry > a {
    margin-left: 60px;
    padding-top: 15px;
    border-top: 2px solid lightgray;
    text-decoration: none;
    font: 20px sans-serif;
    color: black;
}

#inquiry > a:link, #inquiry > a:active, #inquiry > a:visited, #inquiry > a:hover {
    text-decoration: none;
}

#artist_exhibitions_section {
    display: inline-block;
    margin-top: 400px;
    width: 1300px;
}

#artist_exhibitions_category {
    margin-left: 250px;
    width: 300px;
    float: left;
}

#artist_exhibitions_category > input, #artist_news_category > input {
    margin-bottom: 17px;
}

#artist_exhibitions {
    margin-left: 50px;
    width: 600px;
    height: fit-content;
    float: left;
}

#artist_exhibitions ul {
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 0;
    padding: 0;
    list-style: none;
}

#artist_news_section {
    display: inline-block;
    margin-top: 400px;
    width: 1300px;
}

#artist_news_category {
    margin-left: 250px;
    width: 300px;
    float: left;
}

#artist_news {
    width: 500px;
    float: left;
}

#artist_cv_section {
    width: 1300px;
    margin-top: 350px;
    display: inline-block;
}

#artist_cv_category {
    margin-top: 14px;
    margin-left: 250px;
    width: 300px;
    float: left;
}

#artist_cv {
    float: left;
}

#artist_cv > pre {
    font-family: nanumgothic-regular, sans-serif;
    clear: both;
}

#artist_info_footer {
    height: 250px;
}